@page
@model LoginModel
@{
	ViewData["Title"] = "Conecte-se"; 
}

<h4 class="text-center">Informe usuário e senha</h4>
<h6>para testar use um dos usuários a seguir com senha 123456 </br>
	Sindico </br>
	Porteiro </br>
	Suporte
</h6>

<div class="text-center">
	<form id="account" method="post">
		<div asp-validation-summary="All" class="text-danger"></div>
		<div>
			<input autofocus asp-for="Input.UserName" placeholder="Usuário" style="width:200px;" autocomplete="off" >
		</div>
		<div>
			<input asp-for="Input.Password" placeholder="Senha" style="width:200px;" autocomplete="off" >
		</div>
		<h6></h6>
		<div>
			<button type="submit" class="btn btn-primary">Entrar</button>
		</div>
	</form>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
