@{
	if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
	{
		Layout = (string)parentLayout;
	}
	else
	{
		Layout = "/Areas/Identity/Pages/_Layout.cshtml";
	}
}
<h5>Gerenciar sua conta</h5>

<div class="row">
	<div class="col-md-9">
		<div class="nav-tabs-custom">
			<partial name="_ManageNav" />
		</div>
		<div class="col-md-9">
			@RenderBody()
		</div>
	</div>
</div>


@section Scripts {
    @RenderSection("Scripts", required: false)
}
